#https://vsupalov.com/docker-arg-env-variable-guide/
#https://medium.com/vteam/configure-docker-project-for-different-environments-using-docker-compose-3-bfbef37d951c
#https://medium.com/softonic-eng/docker-compose-from-development-to-production-88000124a57c
#https://stackoverflow.com/a/48651071
#https://github.com/docker/compose/issues/6170

# production, development, etc.
NODE_ENV=development

NODE_NAME=node
NODE_TAG=20-alpine
NODE_PORT=3000
NODE_WAITFORIT_CONTAINER_NAME=
NODE_WAITFORIT_CONTAINER_PORT=
NODE_NPM_GLOBAL_LIBS=
NODE_NPM_PATHS=
